{% extends 'product_category/base/base.html' %}
{% load static %}
{% block title %}
<title> Freelancer |  View Developers </title>
{% endblock %} 
{% block content %}
<div class="main-container">
   <div class="pd-ltr-20 xs-pd-20-10">
      <div class="min-height-100vh">
         <div class="card mb-30 shadow p-3">
            <h2>Manage Developers</h2>
         </div>
         <div class="row justify-content-center mb-30">
            {% for one in all_projects %}
              <div class="col-lg-3 col-md-4 col-sm-6 my-2">
                <div class="card shadow p-3">
                  <h5 class="text-center">{{one.username}}</h5>
                  <p class="font-14 text-secondary text-center mb-0 p-0 mt-2">Skills : {{one.skill}} Days</p>
                  <p class="font-14 text-secondary text-center m-0 p-0">Joined at : {{one.created_on|date:'Y-m-d'}}</p>
                  <div class="text-right mt-4">
                   <a href="/developer_profile/?id={{one.id}}"> <button type="button" class="btn btn-success px-1 py-0 mr-1"><i class="fas fa-eye font-14"></i></button></a>
                  </div>

                </div>
              </div>

            {% endfor %}
         </div>
      </div>
   </div>
</div>
</div>

{% endblock %}