{% load static %}
<!-----------------------------------------------Footer Start----------------------------------->


<div class="footer-transparent">
   <!--    <p>Copyright © 2021 Live Leader, All Rights Reserved.</p>-->
   <small>
      Copyright &copy;
      <script>document.write(new Date().getFullYear())</script>
      <a href="#" class="text-decoration-none">Code for cause</a>
   </small>
</div>
<!-----------------------------------------------Footer End----------------------------------->