{% extends 'product_category/base/base.html' %}
{% load static %}
{% block title %}
<title> Freelancer |  Project Listing </title>
{% endblock %} 
{% block content %}
<div class="main-container">
              {% if messages %}
      {% for message in messages %}
      {% if 'success' in message.tags %}
      <div class="alert alert-success" id = "msg_Sucess">
         {{ message }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      {% if messages %}
      {% for message in messages %}
      {% if 'error' in message.tags %}
      <div class="alert alert-danger" id="msg_sign_err">
         {{ message }}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}

      {% if message %}
      <div class="alert alert-danger" >
         {{ message }}
      </div>
      {% endif %}
      {% if sucess_msg %}
      <div class="alert alert-success">
         {{ sucess_msg }}
      </div>
      {% endif %}


    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-100vh">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
                    <div class="pd-20 card shadow height-100-p">
                        <div class="profile-photo">
                          {% if request.user.image %}
                            <img src="{{request.user.image.url}}" alt="" class="avatar-photo">
                          {% else %}
                            <img src="{% static 'cms/img/default_profile_pic.png' %}" alt="" class="avatar-photo">

                          {% endif %}
                          
                        </div>
                        <h5 class="text-center h5 mb-0">{{request.user.username}}</h5>
                        <p class="text-center text-muted font-14">{{request.user.role_instance.role_name}}</p>
                        <div class="profile-info">
                            <h5 class="mb-20 h5">Personal Information</h5>
                            <ul>
                                <li>
                                    <span>Email Address:</span>
                                    {{request.user.email}}
                                </li>
                                <li>
                                    <span>Phone Number:</span>
                                    {{request.user.phone}}
                                </li>
                                <li>
                                    <span>Full Name:</span>
                                    {{request.user.first_name}} {{request.user.last_name}}
                                </li>
                                <li>
                                    <span>Skills:</span>
                                    {{request.user.skills}}<br>
                                </li>
                                <li>
                                    <span>Description:</span>
                                    {{request.user.description}}<br>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
                    <div class="card shadow height-100-p overflow-hidden">
                        <div class="profile-tab">
                            <div class="tab height-100-p">
                                <ul class="nav nav-tabs customtab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#setting" role="tab">About Me</a>
                                    </li>
                                </ul>
                                <div class="tab-content">

                                    <!-- Setting Tab start -->
                                    <div class="tab-pane fade show active height-100-p" id="setting" role="tabpanel">
                                        <div class="profile-setting">
                                            <form method="post" action="/profile/" enctype="multipart/form-data">
                                              {% csrf_token %}
                                                <ul class="profile-edit-list row">
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class="h5 mb-20" data-color="#EE3C7F">Edit Your Personal
                                                            Setting</h4>
                                                        <div class="form-group">
                                                            <label>Skills</label>
                                                            <input class="form-control" type="text"
                                                                   placeholder="Skills" name="skill" value="{{request.user.skills}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Full Name</label>
                                                            <input class="form-control" type="text"
                                                                   placeholder="Full name" name="name" value="{{request.user.first_name}} {{request.user.last_name}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Image</label>
                                                            <input class="form-control" type="file"
                                                                   placeholder="Image" name="image">
                                                        </div>

                                                        <div class="form-group mb-0">
                                                            <button type="submit" class="btn button">Update
                                                                Information
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="weight-500 col-md-6">
                                                        <h4 class=" h5 mb-20" data-color="#EE3C7F">Profile</h4>
                                                        <div class="form-group">
                                                            <label>About Me:</label>
                                                            <input class="form-control" type="text"
                                                                   placeholder="About Me" name="description" value="{{request.user.description}}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Phone Number</label>
                                                            <input class="form-control" type="text"
                                                                   placeholder="Phone Number" name="phone" value="{{request.user.phone}}">
                                                        </div>

                                                    </li>
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Setting Tab End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="footer-wrap py-2 card-box">
</div>
{% endblock %}