$primary-color: #EE3C7F;
$base-color: black;


body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.custom-list {
  display: flex;
  justify-content: center;
  ul {
    list-style: none;
    margin: 2em 0;
    padding: 0;

    li {
      margin: 0;
      padding-left: 1.5em;
      position: relative;

      &:after {
        content: '';
        height: .4em;
        width: .4em;
        background: #9d9fc6;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .75em;
        left: 0;
      }

    }

  }
}

@media only screen and (max-width: 767px) {
  .custom-list {

    ul {
      margin: 2em 0;
    }
  }
  
}
/*.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.38) url('../../assets/images/video-gif.gif') 50% 50% no-repeat;
  background-size: cover;
  //background-size: 500px 500px;
}*/


.overlayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000000;
  .overlayDoor {
    &:before, &:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      background: #111;
      transition: .5s cubic-bezier(.77,0,.18,1);
      transition-delay: .8s;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  &.loaded {
    .overlayDoor {
      &:before {
        left: -50%;
      }
      &:after {
        right: -50%;
      }
    }
    .overlayContent {
      opacity: 0;
      margin-top: -15px;
    }
  }
  .overlayContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s cubic-bezier(.77,0,.18,1);
    /*.skip {
      display: block;
      width: 130px;
      text-align: center;
      margin: 50px auto 0;
      cursor: pointer;
      color: #fff;
      font-family: 'Nunito';
      font-weight: 700;
      padding: 12px 0;
      border: 2px solid #fff;
      border-radius: 3px;
      transition: 0.2s ease;
      &:hover {
        background: #ddd;
        color: #444;
        border-color: #ddd;
      }
    }*/
  }
}
.loader {
  width: 128px;
  height: 128px;
  border: 3px solid $primary-color;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  position: relative;
  animation: spin 1s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  .inner {
    width: 64px;
    height: 64px;
    border: 3px solid transparent;
    border-top: 3px solid #66a1d5;
    border-radius: 50%;
    animation: spinInner 1s linear infinite;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spinInner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-720deg);
  }
}



.cover-section {
  background: url('../../assets/images/Background-05.svg') no-repeat center;
  .text-style {
    margin-top: 120px;
  }
  .device-info {
    /*margin-top: 120px;
    margin-bottom: 50px;*/
    img {
      width: 446px;
      margin-top: 100px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cover-section {
    .text-style {
      margin-top: 56px;
    }
    .device-info {
      img {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 54px;
      }
    }
  }
}
:root {
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}


.box {
  border-radius: 12px;
  box-shadow: 0px 0 20px var(--grayishBlue);
  padding: 30px;
  margin: 20px;

  p {
    color: var(--grayishBlue);
    font-size: 12px;
  }

  img {
    width: 70px;
    float: right;
  }
}


@media (max-width: 450px) {
  .box {
    height: 215px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: 196px;
  }
}

/*.purple {
  border-top: 4px solid #9d9fc6;
}*/

.black {
  border-top: 4px solid black;
}

h2 {
  color: var(--varyDarkBlue);
  font-weight: var(--weight3);
}



///////////////////////Dent on the universe

.wrapper {
  background: url("../../assets/images/universe background_opti-2.jpg") no-repeat center;
  background-size: cover;
  //height: 500px;
  //background-attachment: fixed;
  padding: 70px;
  .transparent-box {
    background-color: #0000008f;
    color: white;
    box-shadow: 20px 10px #ee3c7f7d;
    padding: 20px;
    margin: 34px 0;
    border-radius: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .wrapper {
   padding: 20px;
  }
}

@media only screen and (max-width: 475px) {
  .wrapper {
    .transparent-box {
      box-shadow: none;
    }
  }
}
///////////////////////LightGallery

.event-gallery {

  .grid-container {
    columns: 3 350px;
    column-gap: 1.5rem;
    width: 90%;
    margin: 0 auto;
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      &:hover {
        color: $primary-color;
      }
    }
    .gallery-item {
      //width: 150px;
      margin: 0 1.5rem 1.5rem 0;
      display: inline-block;
      width: 100%;
      border: solid 2px black;
      padding: 5px;
      box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
      border-radius: 5px;
      transition: all .5s ease;
      &:hover img {
        filter: grayscale(0);
        transform: scale(1.01);
      }
      &:hover {
        border-color: $primary-color;
      }
      img {
        width: 100%;
        filter: grayscale(100%);
        border-radius: 5px;
        transition: all .5s ease;
      }
      p {
        margin: 5px 0;
        padding: 0;
        text-align: center;
        font-style: italic;
      }
      /*  .grid-item-1 {
          height: 120px;
        }
        .grid-item-2 {
          height: 200px;
        }*/
    }
  }

}


/*@media only screen and (max-width: 767px) {
  .lightgallery {
    .img-item {
      width: auto;
    }
  }
}*/


/////////////////////Video Gallery//////////////////////////////


////////////////////////////Testimonial

.slider {
  width: 100%;
  .slide-item {
    width: 100%;
  }
}
.testimonial-section {
  background: url("../../assets/images/bg-testimonial.jpg") no-repeat center ;
  background-size: cover;
  //height: 400px;
  padding: 50px;
  color: white;
  position: relative;
  .overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //background-color: rgba(0, 0, 0, 0.57);
    background-color: #000000a6;
  }
  .testimonial-avatar {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0 8px 12px rgba(211, 211, 211, 0.6);
      margin: auto;
      overflow: hidden;
    }
  }
  .quotation-mark {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 62px;
  }
}

/////////////Blog Post////////////////////

//Form

.form-design {
  border: 3px solid $primary-color;
  padding: 20px;
  border-radius: 18px;
  background-color: white;
  .form-control {
    height: calc(1.25em + .75rem + 2px);
    border: 1px solid black;
    border-radius: 18px;
    &:focus {
      box-shadow: none;
      border: 2px solid black;
    }
  }
}
::placeholder {
  font-size: 14px;
  color: $primary-color;
}
@media only screen and (max-width: 767px) {
  .testimonial-section {
    padding: 20px;
  }
}

@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;

    h4 {
      font-family: 'Poppins', sans-serif;
    }
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-down {
    position: relative;
    top: 150px;
  }
  .box {
    width: 20%;

  }
}

@media only screen and (min-width: 950px) and (max-width: 1024px) {
  .box {
    width: 27%;
  }

}
