$primary-color: #9d9fc6;
$base-color: black;


.cover-section {
  background: url('../../assets/images/live-service-provider-bg.jpg') no-repeat center;
    img {
      width: 480px;
    }
  .text-style {
    margin-top: 100px;
  }
}
.device-info {
  img {
   width: 700px;
  }
}
.custom-list {
  ul {
    list-style: none;
    margin: 2em;
    padding: 0;

    li {
      margin: 0;
      padding-left: 1.5em;
      position: relative;
      font-size: 13px;

      &:after {
        content: '';
        height: .4em;
        width: .4em;
        background: #9d9fc6;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .75em;
        left: 0;
      }

    }

  }
}
@media only screen and (max-width: 767px) {
  .cover-section {
    .text-style {
      margin-top: 54px;
    }
  }
}
