$primary-color: #EE3C7F;
$base-color: black;

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

a {
  color: inherit;
}


////////////////////Cover Section/////////////////////////////

.cover-section {
  //min-height: 600px;
  //background: url('../../assets/images/Background-05.svg') no-repeat center;
  background-size: cover;
  height: 650px;
  //background: #04044a no-repeat top center;
  padding: 50px 0 0;
  text-align: center;
  color: #fff;

  .text-style {
    color: white;
  }

  .side-image {
    margin: 56px auto;
  }
}


.custom-btn {
  padding: 5px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  border-radius: 18px;
}

/**** BTN No. 1 ****/
.btn-1 {
  border: none;
  border-bottom: 2px solid $primary-color;
  border-left: 2px solid $primary-color;
  border-radius: 0 !important;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);

  &:hover {
    color: $primary-color;

  }
}

.btn-1:before,
.btn-1:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: $primary-color;
  transition: all 0.3s ease;
}

.btn-1:before {
  height: 0%;
  width: 2px;

}

.btn-1:after {
  width: 0%;
  height: 2px;
}

.btn-1:hover:before {
  height: 100%;

}

.btn-1:hover:after {
  width: 100%;

}

/**** BTN No. 2 ****/

.btn-2 {
  border: 2px solid $primary-color;
  //background-color: $primary-color;
  background: linear-gradient($primary-color, $base-color);
  z-index: 1;
  color: white;
  font-weight: bold;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s, color 0.5s;

  &:hover {
    //background-color: white;
    color: white;
    box-shadow: inset -100px 0px rgba(0, 0, 0, 0.5), inset 100px 0px rgba(0, 0, 0, 0.5);
  }
}

.btn-3 {
  border: 2px solid #66a1d5;
  //background-color: $primary-color;
  background: linear-gradient(#66a1d5, $base-color);
  z-index: 1;
  color: white;
  font-weight: bold;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s, color 0.5s;

  &:hover {
    //background-color: white;
    color: white;
    box-shadow: inset -100px 0px rgba(0, 0, 0, 0.5), inset 100px 0px rgba(0, 0, 0, 0.5);
  }
}

/*.btn-2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: $primary-color;
  transition: all 0.3s ease;
}

.btn-2:hover:after {
  left: 0;
  width: 100%;
  border-radius: 18px;
}

.btn-2:active {
  top: 2px;
}*/


/**** BTN No. 3 ****/
/*.btn-3 {
  border: 2px solid white;
  z-index: 1;
  box-shadow: 0px 17px 10px -10px rgba(0, 0, 0, 0.4);
}

.btn-3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  //background: $primary-color;
  background: linear-gradient($primary-color, $base-color);
  transition: all 0.3s ease;
}

.btn-3:hover {
  color: #fff;
}

.btn-3:hover:after {
  left: auto;
  right: 0;
  width: 100%;
  border-radius: 18px;
}

.btn-3:active {
  top: 2px;
}*/

.button {
  background-color: white;
  border-radius: 12px;
}

.btn-shadow {
  box-shadow: 0 0 8px rgba(156, 159, 226, 0.82);
}

.margin-1 {
  margin-top: 7rem;
  margin-bottom: 7rem;
}

.margin-2 {
  margin-bottom: 7rem;
}

.margin-3 {
  margin-top: 7rem;
}

.padding-1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.heading-style-2 {
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 300;
    font-size: 40px;
    //color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;

    &:before {
      width: 28px;
      height: 5px;
      display: block;
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      margin-left: -14px;
      background-color: $primary-color;
    }

    &:after {
      width: 100px;
      height: 1px;
      display: block;
      content: "";
      position: relative;
      margin-top: 25px;
      left: 50%;
      margin-left: -50px;
      background-color: $primary-color;
    }
  }
}

.heading-style-1 {

  @extend .heading-style-2;
  color: white;

  h1 {
    &:before, &:after {
      background-color: white;
    }
  }

}

.text-shadow {
  text-shadow: 0 1px 0 #ccc,
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0, 0, 0, .1),
  0 1px 3px rgba(0, 0, 0, .3),
  0 3px 5px rgba(0, 0, 0, .2),
  0 5px 10px rgba(0, 0, 0, .25),
  0 10px 10px rgba(0, 0, 0, .2),
  0 20px 20px rgba(0, 0, 0, .15),
  0 30px 20px rgba(0, 0, 0, .1);
}

.slick-prev:before, .slick-next:before {
  font-size: 34px;
  color: $primary-color;
}

.slick-prev {
  left: -108px;
  top: 189px;
}

.slick-next {
  right: -108px;
  top: 189px;
}

@media only screen and (max-width: 1024px) {
  .slick-prev {
    left: -49px;
    //top: 45px;
  }
  .slick-next {
    right: -49px;
    //top: 45px;
  }

}

@media only screen and (max-width: 767px) {
  .slick-prev:before, .slick-next:before {
    font-size: 22px;
  }
  .slick-prev {
    left: -28px;
    top: 45px;
  }
  .slick-next {
    right: -28px;
    top: 45px;
  }

}

/*.video-frame {
  border: 2px solid $base-color;
  border-radius: 12px;

  iframe {
    //height: 500px;
  }
}*/

@media only screen and (max-width: 767px) {
  .video-frame {
    border: 0;

    iframe {
      height: 214px;
    }
  }

}


@media only screen and (max-width: 1022px) {
  .cover-section {
    height: auto;
  }
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 767px) {
  .cover-section {
    .side-image {
      margin: 56px auto 0;
    }
  }
  .margin-1 {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .margin-2 {
    margin-bottom: 4rem;
  }

  .margin-3 {
    margin-top: 4rem;
  }

}
