$primary-color: #EE3C7F;
$base-color: black;


.cover-section {
  background: url('../../assets/images/support-bg.jpg') no-repeat center;

  img {
    width: 480px;
  }

  .text-style {
    margin-top: 170px;
  }
}

.information {
  background: url("../../assets/images/contact-image.jpg") no-repeat center;
  background-size: cover;
  /*width: 100%;
  height: 500px;*/
  box-shadow: 0 0 50px lightgrey;
  border-radius: 16px;

  &.contact-details {
    h1, h5, h6, p {
      color: white;
    }

    p {
      font-size: 14px;
    }
  }
}

.contact-details {
  h1, h6, p {
    letter-spacing: 3px;
  }
}

.contact-form {
  //border: 1px solid $primary-color;
}

.form-control {
  border: 1px solid $primary-color;
  border-radius: 18px;

  &:focus {
    box-shadow: none;
    border: 2px solid $primary-color;
    transition: all 1s ease;

  }
}


//////////////////FAQ//////////////////////

.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  background-color: white;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 40px;
  box-shadow: 0 0 8px lightgrey;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: $primary-color;
  text-decoration: none;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: -25px;
  top: 6px;
  transition: 1s;
}

.faq-title {
  text-align: center;
  font-size: 17px;
  border-bottom: 2px dashed #ffffff;
  margin-bottom: 30px;
  padding-bottom: 10px;
  color: black;
}

.faq .faq-list p {
  padding-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
  color: black;
}

.collapsed i.fas.fa-arrow-up {

}

.collapsed i.fas.fa-arrow-up {
  transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
  .cover-section {
    .text-style {
      margin-top: 18px;
      margin-bottom: 54px;
    }
  }
}
