<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freelancing | {% block title %}{% endblock %}</title>
    <meta name="title" content="Live leaders | Make big choices">
    {% block meta_description %}

    <meta name="description"
          content="Sales Made Easy With Live Leaders Increase your reach, double your sale and engage with customers with no hassle.">
    <meta name="keywords" content="">
    {% endblock %}
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://liveleaders.in/">
    <meta property="og:title" content="Live leaders | Make big choices">
    <meta property="og:description"
          content="Sales Made Easy With Live Leaders Increase your reach, double your sale and engage with customers with no hassle.">
    <meta property="og:image" content="{% static 'cms/assets/images/meta-icon.png' %}">

    <!-- Twitter -->
    <meta name="twitter:image" content="{% static 'cms/assets/images/meta-image.jpg' %}">
    <meta property="twitter:card" content="summary">
    <meta property="twitter:url" content="https://liveleaders.in/">
    <meta property="twitter:title" content="Live leaders | Make big choices">
    <meta property="twitter:description"
          content="Sales Made Easy With Live Leaders Increase your reach, double your sale and engage with customers with no hassle.">

    <!----------------Favicon------------------->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'cms/assets/favicon_package_v0.16/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'cms/assets/favicon_package_v0.16/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'cms/assets/favicon_package_v0.16/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'cms/assets/favicon_package_v0.16/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'cms/assets/favicon_package_v0.16/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-VQ97JJY551"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.7.2/css/lightgallery.min.css">
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
    <!------------------------------------Custom CSS-------------------------------------------->
    <link rel="stylesheet" href="{% static 'cms/assets/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'cms/assets/css/footer.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
    <link rel="stylesheet" href="{% static 'cms/assets/css/style.css' %}">
    <style type="text/css">
 .fixed-social-icons {
    position: fixed;
    right: 0;
    top: 35%;
}
    </style>
</head>
<body>
{% block loader %}{% endblock loader %}
{% include 'project/header.html' %}
{% block content %}{% endblock %}
{% include 'project/footer.html' %}
{% include 'project/scripts.html' %}
<div class="content-level-icons fixed-social-icons d-none d-sm-none d-md-flex flex-column">
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-facebook-f"></i>
</a>
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-instagram"></i>
</a>
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
<a href="." class="social-icon" target="_blank">
<i class="fab fa-twitter"></i>
</a>
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-quora"></i>
</a>
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-youtube"></i>
</a>
<a href="." class="social-icon my-1" target="_blank">
<i class="fab fa-pinterest"></i>
</a>
</div>

{% block javascripts %}
{% endblock javascripts %}

</body>
</html>
